body {
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: #FFFFFF;
	height: 100%;
    min-height: 100%;
}
.main-container {
	margin-top: 60px;
}

.navbar, .navbar.navbar-default {
	background-color: #1ed760;
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open >
.navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open >
.navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open >
.navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
	background-color: #1ed760;
	box-shadow: none;
}

.form-group.is-focused .form-control,
.form-control, .form-group .form-control {
	background-image: linear-gradient(#1ed760, #1ed760), linear-gradient(#D2D2D2, #D2D2D2);
}

.logo {
	display: inline-block;
	width: 50px;
  vertical-align: middle;
}

.logoNavbar {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.imgNavBar {
	display: inline-block;
	width: 50%;
	height: auto;
  vertical-align: middle;
}

.navBarButton{
    width : 120%;
    height :100%;
    background-color: #1ed760;
    border: none;
    margin-bottom: -15%;
    margin-top: -15%;
    margin-left: -10%;

}

.navBarInsideButton{
    width : 98%;
    height : 30%;
}

.proximamente {
    text-size-adjust: 80%;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

#divElement{
    position: absolute;
    top: 25%;
    left: 25%;
    margin-top: 0px;
    margin-left: 0px;
    width: 1000px;
    height: 1000px;
}​

.adjustText * {
    /*text-transform: uppercase;*/
    line-height: 0.85em;
    font-size: 500px;
 }

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.sidenavColor{
    background-color: #404040;
/*	display: flex;*/
}
.contentSide{
    background-color: #4d4d4d;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #FFFFFF;
    /*height: 100%;*/
}

.marginNavs{
    margin-inside: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentTittle{
      text-align: center;
      color: white;
}

.contextInfo{
    text-align: justify;
    color: white;
    /*font-size: 150%;*/
}

.sidenavButton{
    border-radius: 70%
}

.avatar {
	position: relative;
	width: 100px;
	height: 100px;
	border: 0px solid #ddd;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	vertical-align: middle;
	zoom: 0.70;
	transform: translateZ(0);
	-webkit-transform: scale(0.70);
	-moz-transform:scale(0.70);
}

.avatarButton {
    background: transparent;
    border: none;
    border: 0px solid #ddd;
}

.underfyNavBar {
    display: inline-block;
    vertical-align: middle;
}

.contentImg {
    position: center;
    width: 150px;
    height: 150px;
    /*border: 1px solid #ddd;*/
    border-radius: 50%;
    /*display: inline-block;*/
    /*overflow: hidden;*/
    margin: 3px;
    vertical-align: middle;
    /*zoom: 0.5;*/
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
    background-color: #1ed760;
}

.aboutUs{
    text-align: center;
    margin-top: -5px;
}

.strong{
    font_weight: bold;
}

.aboutImg {
    height: 0.1%;
    width: 100%;
    display:flex;
    justify-content: center;
    -webkit-box-align: center;
}

.volverButton{
    justify-content: center;
    position: center;
    align-items: center;
}


.albumImgArtist{
    position: relative;
    width: 10%;
    height: auto;
    /*border: 0px solid #ddd;*/
    /*border-radius: 50%;*/
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
}

.albumImg{
    position: relative;
    width: 30%;
    height: auto;
    /*border: 0px solid #ddd;*/
    /*border-radius: 50%;*/
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
}

.listArtists{
    margin-left: 20px;
}

html {
    height: 400px;
}

.headermargin{
    margin-right: 55px;
}