<ng-include src="'views/headerView.html'"></ng-include>
<div>
  <div class="container">
    <div class="aboutImg">
      <img src="../images/aboutImg.jpg" text-align="center">
    </div>
   <br/>
    <br/>
    <h2 class="aboutUs">About Us:
    </h2>
    
    <br/>
    <p align="center"><strong>UnderFy</strong> fue desarrollada con el proposito de brindar un espacio para los musicos entusiastas que aun no han encontrado la fama, de modo que sus canciones puedan llegar a ser conocidas, y poder salir del <strong>Under</strong>.</p>

  </div>
</div>
