<md-content layout="row" flex id="artistView" flex class="contentSide" ng-controller="ArtistsController">
    <div layout="column">
        <md-sidenav layout="column" class="marginNavs md-sidenav-left sidenavColor md-whiteframe-z2" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')">
            <md-list>
                <p align="center"><button class="btn btn-primary" ng-click="addArtistWindow()"><i class="material-icons md-48">local_hospital</i>  Agregar Artista</button></p>
                <md-list-item align="left" ng-repeat="artist in artists">
                    <md-button layout-align="left" ng-click="selectArtist(artist)">
                        <img  class="md-avatar"   ng-src={{artist.images[0]}} data-err-src="../images/useravatan.png"/> {{artist.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
    </div>
        <!--content-->
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="contentSide marginNavs md-whiteframe-z2 md-padding" >
            <h2 align="center">{{selected.name}}</h2>
            <p class="albumPMargin" align="center"><img class="albumImg" ng-click="changeImgWindow()" ng-src={{selected.images[0]}} data-err-src="../images/useravatan.png"/></p>
            <h3 align="center"> Id: {{selected.id}}</h3>
            <md-list class="listArtists">
                <em align="left">
                    <h4>Albums:</h4>
                    <p align="left"><button class="btn btn-primary" ng-click="addAlbumWindow()"><i class="material-icons md-48">local_hospital</i></button></p>
                    <md-list-item ng-repeat="album in selected.albums">
                        <img class="albumImgArtist" ng-src={{album.images[0]}} data-err-src="../images/useravatan.png"/>
                        <p>Nombre: {{album.name}}</p>
                        <p>Id: {{album.id}}</p>
                        <p align="left">Genres: <em ng-repeat="genre in album.genres">{{genre}}{{$last ? '' : ', '}}  </em></p>
                        <p align="left">Fecha de Publicacion: {{album.release_date}}</p>
                        <p align="center"><button class="btn btn-primary" ng-click="deleteAlbum(album.id)"><i class="material-icons md-48">delete_forever</i></button></p>
                    </md-list-item>
                </em>
                <h4 align="left">Genres:</h4>
                <em ng-repeat="genre in selected.genres">
                    {{genre}}{{$last ? '' : ', '}}
                </em>
                <p align="center"><button class="btn btn-primary" ng-click="deleteArtist()"><i class="material-icons md-48">delete_forever</i>Borrar Artista</button></p>
            </md-list>
        </md-content>
    </div>
</md-content>
