<div class="container main-container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center">
            <h1 class="proximamente">Próximamente</h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <small>Podés imaginar el login ingresando username y password a continuación</small>
            <br/>
            <br/>
            <form method="post" class="formLogin">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="username" ng-model="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="password" ng-model="password">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submit()">Ingresar</button>
            </form>
        </div>
    </div>
</div>