<md-content layout="row" flex id="trackView" flex class="contentSide" ng-controller="TracksController">
    <div layout="column">
        <md-sidenav layout="column" class="marginNavs md-sidenav-left sidenavColor md-whiteframe-z2" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')">
            <md-list>
                <p align="center"><button class="btn btn-primary" ng-click="addTrackWindow()"><i class="material-icons md-48">note_add</i>  Agregar Cancion</button></p>
                <md-list-item ng-repeat="track in tracks">
                    <md-button ng-click="selectTrack(track)">
                        <p align="left">{{track.name}}</p>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
    </div>
    <!--content-->
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="contentSide marginNavs md-whiteframe-z2 md-padding" >
            <h2 align="center">{{selected.name}}</h2>
            <md-list class="listArtists">
                    <h3>Id: {{selected.id}}</h3>
                    <p>Popularidad: {{selected.rate}}</p>
                    <p></p>
                    <p>Duracion: {{selected.duration}} milisegundos</p>
                    <p>Artists:
                        <em ng-repeat="artist in selected.artists">{{artist.name}} {{$last ? '' : ', '}}</em>
                    </p>
                    <p>Album Id:
                        {{selected.album.id}}
                    </p>
                    <p align="center"><button class="btn btn-primary" ng-click="deleteTrack()"><i class="material-icons md-48">delete_forever</i>Borrar Cancion</button></p>
            </md-list>
        </md-content>
    </div>
</md-content>